
/* header */


@media only screen and (max-width: 1700px) and (min-width: 481px){
    .bar {
        display: none;
    }

    .des-menu {
        display: block;
        margin-right: 5%;
    }

    .logo {
        
        margin-left: 5%;
       
    }

    .logo img {
        
        padding-left: 0;   
    }

    .des-menu ul {
        list-style-type: none;
        padding: 50px 0 30px 0;
    }

    header h1 {
        
        height: 280px;
        padding: 15px 70px 15px 15px;
        margin: 0 5%;
        font-size: 500%;
        font-weight: 50;
    }

    header br {
        display: block;
    }


}


@media only screen and (max-width: 800px) and (min-width: 481px){
    header h1 {
        font-size: 400%;
    } 
    
    .des-menu  li {
        display: inline-block;
        padding: 0 0 0 15px;
    }

}

@media only screen and (max-width: 600px) and (min-width: 481px){
     
    header h1 {
        font-size: 300%;
    } 

    .des-menu a {
        font-size: 70%;
        white-space: nowrap
    }

    .des-menu  li {
        display: inline-block;
        padding: 0 0 0 10px;
    }
}


/* virtual-img */

@media only screen and (max-width: 1700px) and (min-width: 481px){

    .virtual-img {
        display: inline-block;
        width: 50%;
        margin-left: 5%;
        margin-bottom: 80px;
    }

    .virtual-img img {
        padding-left: 0;
    }

    .leader_text {
        /* position: absolute; */
        display: inline-block;
        width: 40%;
        z-index: 999;
        text-align: left;
        margin-top: 10%;
        margin-left: -15%;
        background-color: #fff;
        margin-bottom: 80px;
        height: 90%;
    }

    .leader_text h1 {
        font-size: 290%;
        margin: 10% 0 6% 20%;
        padding-right: 10%;
    }

    .leader_text p {
        padding: 0;
        margin: 0 0 0 20%;
        text-align: left;
        overflow: hidden;
    }

}



@media only screen and (max-width: 1200px) and (min-width: 481px){

    .leader_text h1 {
        font-size: 200%;
        margin: 10% 0 4% 20%;
        
    }

}

@media only screen and (max-width: 1000px) and (min-width: 481px){

    .leader_text h1 {
        font-size: 150%;
        margin: 10% 0 2% 20%;
        
    }

    .leader_text p {
       font-size: 90%;
    }

}

@media only screen and (max-width: 800px) and (min-width: 481px){

    .leader_text h1 {
        font-size: 90%;
        margin: 10% 0 2% 20%;
        
    }

    .leader_text p {
       font-size: 70%;
    }

}

@media only screen and (max-width: 600px) and (min-width: 481px){

    .leader_text h1 {
        font-size: 80%;
        
        
    }

    .leader_text p {
       font-size: 65%;
    }

}

@media only screen and (max-width: 550px) and (min-width: 481px){

    .leader_text h1 {
        font-size: 70%;
        
        
    }

    .leader_text p {
       font-size: 50%;
    }

}

/* section */

@media only screen and (max-width: 1700px) and (min-width: 481px){
    section .col {
        width: 25%;
        margin: 0;
        padding: 0;
        
    }
  
    section h1 {
        font-size: 180%;
        text-align: left;
        padding: 0;
        
    }

    .pic {
        margin-left: 5%;
        margin-right: 5%;
       
    }

    section .col img {
        height: 400px;
        padding: 15px 15px 0 0;
        
    }

    .big-btn {
        display: none;
    }

    section div h3 {
        top: 90%;
    }

    .small-btn {
        display: block;
        margin: 15px 13px 0 0 ; 
        height: 30px;
        padding: 5px 0 0 0; 
    
    }

    .btn_text {
        display: flex;
        justify-content: space-between;
        margin: 0 5%;
    }

}



@media only screen and (max-width: 700px) and (min-width: 481px){


    section .col img {
        height: 250px;
        padding: 10px 10px 0 0;
        
    }

    section div h3 {
        top: 90%;
        font-size: 100%;
    }

    section h1 {
        font-size: 160%;
        text-align: left;
        padding: 0;
        
    }

    .small-btn {
        width: 100px;
    
    }

}







/* footer */

@media only screen and (max-width: 1700px) and (min-width: 481px){

    footer .col {
        width: 49%;
    }
    
    .contat {
        text-align: left;
        padding-left: 5%;
    }
  
    .socail {
        text-align: right;
        padding-right: 5%;
    }

    .contat-link li {
        display: inline-block;
        padding-right: 20px;
    }

    .contat-link a {
        font-size: 80%;
    }

    footer p {
        text-align: right;
        padding-right: 0;
        padding-top: 18px;
        font-size: 90%;
    }

    .socail-link a {
        padding: 35px 0 0 0;
       
    }



}


@media only screen and (max-width: 778px) and (min-width: 481px){

 
    

    .contat-link li {
        display: inline-block;
        padding-right: 10px;
    }

    .contat-link a {
        font-size: 60%;
    }

    footer p {
        text-align: right;
        padding-right: 0;
        padding-top: 18px;
        font-size: 60%;
    }

    .socail-link a {
        padding: 35px 0 0 0;
       
    }



}

